@import '../../../variables.scss';

.app-header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 1em;
  background: #d3d11d;
  color: #444;
  box-shadow: 0 0 10px #222;
  height: 10vh;
}